<!doctype html>

<html>
<head>
  <title>Confirmed</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css"/>  
</head>

<body>

<div class="container">
 <a href="{{guestUrl}}">{{guestUrl}}</a>
 <a href="{{hostUrl}}">{{hostUrl}}</a>

 <a href="{{user_url}}">{{user_url}}</a>
 <a href="{{host_url}}">{{host_url}}</a>
</div>

<div class="container" align="center" style="padding-top:50px">
	<div style="border: 1px solid rgb(200,200,200); background-color:rgba(255, 255, 255, 0.8); border-radius:15px; 
			padding:5px; max-width: 800px;" >
 		<h1 style="margin-bottom: 20px">Guest: <a href="{{user_url}}">{{user_url}}</a></h1>
 		<h1 style="margin-bottom: 20px">Host: <a href="{{host_url}}">{{host_url}}</a></h2>
 	</div>
</div>

</body>
</html>
